body{
    background-color: black;
    color:ghostwhite;
    font-size: x-large;
} 

img{
    width: 1900px;
    height: 600px;
}
h1, h2, {
    text-align: center;
}
nav{
    text-align: center;
}
footer{
    background-color: azure;
    color: black;
    text-align: center;
}